.input {
	width: 100%;
	font-size: 24px;
	color: #666666;
	line-height: 1.5;
	border: 3px solid #E6E6E6;
	border-radius: 8px;
	height:48px;
	padding: 9px 32px;

	@media (max-width: 400px) {
		font-size: 16px;
	}
}

.game {
	margin-top: 10px;
}

.successDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;

	.messageSuccess {
		font-size: 2em;
		padding: 2em 0;
	}

	.smiley {
		width: 110px;
		height: 110px;
		font-size: 110px;
	}
}



.formRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 25px;
}

.formButtons {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 25px;


	button {
		font-size: 24px;
		font-weight: 600;
		cursor: pointer;
		border-radius: 8px;
		height: 48px;
		width: 155px;

		@media (max-width: 400px) {
			font-size: 16px;
		}
	}

	.hearMore {
		background: #FFFFFF;
		border: 3px solid #6951FF;
		color: #6951FF;

		&:hover {
			background: #1700a8;
			border-color: #1700a8;
			color: #FFFFFF;
		}

		&:disabled {
			color: #000000;
			background: lightgrey;
			border-color: darkgrey;
			cursor: not-allowed;
	}

	}

	.submit {
		background: #6951FF;
		border: 3px solid #6951FF;
		color: #FFFFFF;

		&:hover {
			background: #1700a8;
			border: 3px solid #1700a8;
		}

	}
}

.guessList {
	box-sizing: border-box;
	height: 272px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 24px;
	gap: 16px;
	border: 3px solid #E6E6E6;
	border-radius: 8px;
	list-style-type: none;
	font-size: 24px;


	@media (max-width: 400px) {
		font-size: 16px;
	}

	.guessListItem {
		font-weight: 400;
		color: #000000;
	}
}

.nextTrack {
	display: block;
	margin-top: 10px;
	background: #FFFFFF;
	border: 3px solid #6951FF;
	border-radius: 8px;
	color: #6951FF;
	height: 48px;
	width: auto;
	font-size: 24px;
	font-weight: 600;
	cursor: pointer;
	align-self: center;
	@media (max-width: 400px) {
		font-size: 16px;
	}
	&:hover {
		background: #1700a8;
		border: 3px solid #1700a8;
		color: #FFFFFF;
	}
}

.gameForm {
	margin-top: 15px;
}


