@use "styles/colors.scss";

@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "@blueprintjs/select/lib/css/blueprint-select.css";



:root {
	font-family: Source Sans Pro, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: black;
	background-color: #fff;
	font-size: 24px;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	@media (max-width: 400px) {
		font-size: 16px;
	}
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 32px;
	line-height: 1.1;
	color: #A1A1A1;

	@media (max-width: 400px) {
		font-size: 24px;
	}
}

#root {
	max-width: 620px;
	margin: 0 auto;
	padding: 2em;
}
