.buttonAndContainerDescription {
	padding: 1em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.player {
	opacity: 0;
	height: 1px;
	width: 1px;
	position: absolute;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.progressWrapper {
	position: relative;
	width: 100%;
	height: 2em;
	border: 2px solid #1700a8;
	border-radius: 4px;
}

.stopAfterBar,
.progressBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: top left;
	transition: transform .1s;
}

.stopAfterBar {
	background: #646cff;
}

.progressBar {
	z-index: 1;
	background: #1700a8 ;
}

.progressTick {
	position: absolute;
	top: 0;
	width: 2px;
	background: #1700a8;
	height: 100%;
}

.spinner {
	display: inline-block;
	margin: 0 0.5em;
}

.playButton {
	padding: 0;
	border: none;
	cursor: pointer;

	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	transition-duration: 0.15s;
	transition-property: background-image;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	background-image: url('assets/icon-play_button_circle-blue-line-default-24.svg');

	width: 48px;
	height: 48px;
	&:hover {
		background-image: url('assets/icon-play_button_circle-dark-line-default-24.svg');
	 }
}

.pauseButton {
	padding: 0;
	border: none;
	cursor: pointer;

	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	transition-duration: 0.15s;
	transition-property: background-image;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	background-image: url('assets/icon-pause_button_circle-blue-line-default-24.svg');

	width: 48px;
	height: 48px;
	&:hover {
		background-image: url('assets/icon-pause_button_circle-dark-line-default-24.svg');

	}
}

.times {
	min-width: 40px;
	font-size: 16px;
	@media (max-width: 400px) {
		font-size: 8px;
	}
	font-weight: 700;
	color: #000000;
	&.right {
		text-align: right;
	}
}