.wrapper {
	padding: 1em 0;
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: row;
}

.progress {
	padding: 0 0.5em;
}

.player {
	opacity: 0;
	height: 1px;
	width: 1px;
	position: absolute;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.spinner {
	display: inline-block;
	margin: 0 0.5em;
}
